// http://clrs.cc/

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;

/* -------------------  CSS for ngCloak directive  ---------------------- */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
  display: none !important;
}
/* ---------------------------------------------------------------------- */

/* ---------------------    Sticky Footer Code    ----------------------- */
/*                  http://www.cssstickyfooter.com                        */
*{
  margin:0;
  padding:0;
}
html, body{
  height: 100%;
}
#wrap{
  min-height: 100%;
}
#main{
  overflow:auto;
  padding-bottom: 25px;
}
#footer{
  position: relative;
  margin-top: -25px; /* negative value of footer height */
  height: 25px;
  clear:both;
}
/* Opera Fix */
body:before{
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}
/* ------------------------------------------------------------------- */

/* --------------------------    NAV BAR    -------------------------- */
#avatarlink{
  height: 40px;
}

#avatarimg{
  height: 40px;
  width: 40px;
}
/* ------------------------------------------------------------------- */

/* --------------------------  Row Helpers  -------------------------- */
.padded-row{
  padding: 5px 0;
}
/* ------------------------------------------------------------------- */
