// http://clrs.cc/

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;

/* -------------------  CSS for ngCloak directive  ---------------------- */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
  display: none !important;
}
/* ---------------------------------------------------------------------- */

/* ---------------------------     MAIN      ---------------------------- */
* {
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
}

.full-height {
  min-height: 100%;
}

div[ui-view] {
  min-height: 100%;
}
/* ------------------------------------------------------------------- */

/* --------------------------    NAV BAR    -------------------------- */
#avatarlink {
  height: 40px;
}

#avatarimg {
  height: 40px;
  width: 40px;
}
/* ------------------------------------------------------------------- */

/* --------------------------  Row Helpers  -------------------------- */
.padded-row {
  padding: 5px 0;
}
.help-text {
  position: absolute;
  margin-top: -16px;
}
/* ------------------------------------------------------------------- */

/* --------------------------  Home Styles  -------------------------- */
.main-title {
  position: absolute;
  width: 500px;
  height: 112px;
  color: white;
  text-align: center;
  top: 25%;
  left: 50%;
  margin-left: -250px;
  margin-top: -56px;
}

.sub-title {
  position: absolute;
  width: 500px;
  height: 112px;
  color: white;
  text-align: center;
  top: 75%;
  left: 50%;
  margin-left: -250px;
  margin-top: -56px;
}

/* ------------------------------------------------------------------- */

/* ---------------------  Register Styles  -------------------------- */
.gym {
  background-image: url(/assets/img/gym.jpg);
  background-size: cover;
  width: 970px;
  height: 650px;
}

.gym form {
  padding-top: 2em;
}

.gym fieldset legend {
  background-color: transparent;
  color: white;
  font-size: 2em;
}

.gym fieldset {
  background-color: rgba(192,192,192,0.8);
}

.gym label {
  color: black;
}

/* ------------------------------------------------------------------- */

/* -----------------------  login Styles  ---------------------------- */
.motivation {
  margin: 1.6rem 0;
}
/* ------------------------------------------------------------------- */
