doctype html
// [if IE 9]>html.lt-ie10(lang='en')<![endif]
html.no-js(ng-app='trainer', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ngTrainer
    link(rel='stylesheet', href='/vendor/foundation/css/normalize.css')
    link(rel='stylesheet', href='/vendor/foundation/css/foundation.css')
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='/index.css')
    link(rel='stylesheet', href='/views/workouts/workouts_index.css')
    script(src='/vendor/foundation/js/vendor/modernizr.js')
  body
    #wrap
      #main(ng-cloak)
        include views/nav/nav
        include views/main/main
    #footer(ng-cloak)
      include views/footer/footer

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/foundation/js/foundation.min.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/vendor/ng-file-upload/angular-file-upload-all.min.js')
    script(src='/index.js')
    script(src='/components/factories/user.js')
    script(src='/components/factories/workout.js')
    script(src='/views/nav/nav.js')
    script(src='/views/users/users.js')
    script(src='/views/footer/footer.js')
    script(src='/views/home/home.js')
    script(src='/views/schedule/schedule.js')
    script(src='/views/workouts/workouts_index.js')
    script(src='/analytics.js')

    script.
      $(document).foundation();