form > fieldset, form > fieldset > fieldset {
  padding-top: 0;
}

#workoutModal fieldset {
  margin-top: 0;
}

#workoutModal fieldset > table {
  width: 100%;
  margin-top: 5px;
}

#workoutModal fieldset table td table {
  width: 100%;
  margin-bottom: 0;
}

#workoutModal fieldset table td input, #workoutModal fieldset table td select, #workoutModal fieldset table td .postfix {
  margin-top: 1px;
  margin-bottom: 1px;
}

img.delete {
  height: 25px;
  width: 25px;
}

.group-list {
  max-height: 350px;
  overflow-y: scroll;
}

.pricing-table li.title {
  position: relative;
}

li.title > a.label {
  position: absolute;
  right: 10px;
}

.pricing-table li.bullet-item {
  padding: 0;
}

li.bullet-item > table,  li.bullet-item > table td > table {
  margin: 0;
  width: 100%;
  border: hidden;
}

li.bullet-item > table tr td:nth-child(2) {
  padding: 0;
}

li.bullet-item > table td > table {
  background-color: inherit;
}
