.row
  .columns.small-12
    .row.collapse.padded-row
      .small-4.columns
        select(ng-model='regime', name='regime', ng-options='r as r.name for r in regimes | orderBy:\'name\'')
          option(value='') Select a Regime
      .small-1.columns
        a.button.success.postfix(href='', ng-click='createRegime(regime)') +
      .small-1.columns
        | &nbsp;
      .small-4.columns
        div(ng-show='regime')
          select(ng-model='phase', name='phase', ng-options='p as p.name for p in phases | orderBy:\'name\'')
            option(value='') Select a Phase
      .small-1.columns
        div(ng-show='regime')
          a.button.success.postfix(href='', ng-click='createPhase(phase)') +
      .small-1.columns
        | &nbsp;
    .row
      .columns.small-12
        form(ng-show='regime')
          fieldset
            legend {{regime}}
            fieldset(ng-show='phase')
              legend Phase
              fieldset
                legend
                  | Workouts &nbsp;
                  a.label.success.round(href='', ng-click='createPhase(phase)') +
                  | &nbsp;
                p(ng-show='workouts.length') List of all workouts in phase
                p(ng-show='!workouts.length') Add a workout!


