.row
  .columns.small-12
    .row.collapse.padded-row
      .small-4.columns
        select(ng-model='regime', name='regime', ng-options='r as r.name for r in regimes | orderBy:\'name\'')
          option(value='') Select a Regime
      .small-1.columns
        a.button.success.postfix(href='', ng-click='showModal(\'#regimeModal\')') +
      .small-1.columns
        | &nbsp;
      .small-4.columns
        div(ng-show='regime')
          select(ng-model='phase', name='phase', ng-options='p as p.name for p in phases | orderBy:\'name\'')
            option(value='') Select a Phase
      .small-1.columns
        div(ng-show='regime')
          a.button.success.postfix(href='', ng-click='showModal(\'#phaseModal\')') +
      .small-1.columns
        | &nbsp;
    .row
      .columns.small-12
        form(ng-show='regime')
          fieldset
            legend {{regime.name}}
            fieldset(ng-show='phase')
              legend {{phase.name}}
              fieldset
                legend
                  | Workouts &nbsp;
                  a.label.success.round(href='', ng-click='showModal(\'#workoutModal\')') +
                  | &nbsp;
                .row(ng-show='workouts.length')
                  .columns.small-12
                    ul.pricing-table(ng-repeat='workout in workouts')
                      li.title {{workout.workoutName}}
                pre(ng-show='workouts.length') {{workouts | json}}
                p(ng-show='!workouts.length') Add a workout!

include modals/regime_modal
include modals/phase_modal
include modals/workout_modal
