.row
  .columns.small-12
    .row.collapse.padded-row
      .small-4.columns
        select(ng-model='regime', name='regime', ng-options='r as r.name for r in regimes | orderBy:\'name\'')
          option(value='') Select a Regime
      .small-1.columns
        a.button.success.postfix(href='', ng-click='showModal(\'#regimeModal\')') +
      .small-1.columns
        | &nbsp;
      .small-4.columns
        div(ng-show='regime')
          select(ng-model='phase', name='phase', ng-options='p as p.name for p in phases | orderBy:\'name\'')
            option(value='') Select a Phase
      .small-1.columns
        div(ng-show='regime')
          a.button.success.postfix(href='', ng-click='showModal(\'#phaseModal\')') +
      .small-1.columns
        | &nbsp;
    .row
      .columns.small-12
        form(ng-show='regime')
          fieldset
            legend {{regime.name}}
            fieldset(ng-show='phase')
              legend {{phase.name}}
              fieldset
                legend
                  | Workouts &nbsp;
                  a.label.success.round(href='', ng-click='showModal(\'#workoutModal\')') +
                  | &nbsp;
                .row(ng-show='workouts.length')
                  .columns.small-12
                    ul.pricing-table(ng-repeat='workout in workouts')
                      li.title
                        | {{workout.workoutName}}
                        a.label.alert.round(href='', ng-click='deleteWorkout(workout, $index)') X
                      li.bullet-item
                        table
                          thead
                            tr
                              th(width='75') Sets
                              th Exercises
                              th(width='150') Reps
                              th(width='150') Weight
                              th(width='150') Rest
                          tbody
                            tr(ng-repeat='set in workout.sets')
                              td {{set.count}}
                              td(colspan='3')
                                table
                                  tbody
                                    tr(ng-repeat='exercise in set.exercises')
                                      td {{exercise.name}}
                                      td(width='150') {{exercise.reps}} {{exercise.type}} 
                                      td(width='150') {{exercise.weight}} lbs
                              td {{set.rest}} Sec
                p(ng-show='!workouts.length') Add A Workout

include modals/regime_modal
include modals/phase_modal
include modals/workout_modal
