.row
  .columns.small-12
    .row.collapse.padded-row
      .small-4.columns
        select(ng-model='regime', name='regime', ng-options='r as r.name for r in regimes | orderBy:\'name\'')
          option(value='') Select a Regime
      .small-1.columns
        a.button.success.postfix(href='', ng-click='showModal(\'#regimeModal\')') +
      .small-1.columns
        | &nbsp;
      .small-4.columns
        div(ng-show='regime')
          select(ng-model='phase', name='phase', ng-options='p as p.name for p in phases | orderBy:\'name\'')
            option(value='') Select a Phase
      .small-1.columns
        div(ng-show='regime')
          a.button.success.postfix(href='', ng-click='showModal(\'#phaseModal\')') +
      .small-1.columns
        | &nbsp;
    .row
      .columns.small-12
        form(ng-show='regime')
          fieldset
            legend {{regime.name}}
            fieldset(ng-show='phase')
              legend {{phase.name}}
              fieldset
                legend
                  | Workouts &nbsp;
                  a.label.success.round(href='', ng-click='showModal(\'#workoutModal\')') +
                  | &nbsp;
                p(ng-show='workouts.length') List of all workouts in phase
                p(ng-show='!workouts.length') Add a workout!

#regimeModal.reveal-modal.small(data-reveal='')
  .row
    .small-12.columns
      h3 Add Regime
  .row.collapse.padded-row
    .small-10.columns
      input(type='text', ng-model='newRegime', placeholder='Name')
    .small-2.columns
      a.button.success.postfix(href='', ng-click='createRegime(newRegime)') Add
  a.close-reveal-modal x

#phaseModal.reveal-modal.small(data-reveal='')
  .row
    .small-12.columns
      h3 Add Phase
  .row.collapse.padded-row
    .small-10.columns
      input(type='text', ng-model='newPhase', placeholder='Name')
    .small-2.columns
      a.button.success.postfix(href='', ng-click='createPhase(newPhase)') Add
  a.close-reveal-modal x

#workoutModal.reveal-modal(data-reveal='')
  .row
    .small-12.columns
      h3 Add Workout
  .row
    .small-12.columns
      form
        .row.collapse.prefix-radius
          .small-3.columns
            span.prefix Name
          .small-9.columns
            input(type='text', ng-model='newWorkout.name', placeholder='Name of the workout')
        fieldset
          legend
            | Sets &nbsp;
            a.label.success.round(href='', ng-click='addSet()') +
            | &nbsp;
          table(ng-repeat='set in newWorkout.sets')
            thead
              tr
                th(width='50') &nbsp;
                th # Sets
                th
                  | Excercises &nbsp;
                  a.label.success.round(href='', ng-click='addExcercise(set)') +
                  | &nbsp;
                th Reps
                th Weight
                th Rest
            tbody
              tr
                td: a(ng-click='removeSet($index)'): img.delete(ng-src='/assets/img/delete.png')
                td: input(type='number', ng-model='set.count')
                td(colspan='3')
                  table
                    tbody
                      tr(ng-repeat='excercise in set.excercises')
                        td: input(type='text', ng-model='excercise.name')
                        td Test
                        td Test
                td
                  .row.collapse
                    .small-9.columns
                      input(type='number', ng-model='set.rest')
                    .small-3.columns
                      span.postfix secs
                  
  a.close-reveal-modal x

//-
    .row.collapse.padded-row
    .small-10.columns
      input(type='text', ng-model='newPhase', placeholder='Name')
    .small-2.columns
      a.button.success.postfix(href='', ng-click='createPhase(newPhase)') Add