.row
  .small-12.columns
    h3 Working out is hard enough, let ngTrainer take the pain out of managing your HIIT workouts.
    h5(ng-show='!rootuser') Sign up, build your workout, set your schedule, and download the mobile companion app to make your trips to the gym a breeze.
    //- img(src='/assets/img/motivation.jpg')
