.row
  .small-12.columns
    img(src='/assets/img/hiit.jpg')
    h3.main-title
      | Working out is hard enough
      br
      | Take the pain out of managing your HIIT workouts.
    h5.sub-title
      | Sign up, schedule your workout, download the mobile app
      br
      | Make your trips to the gym a breeze.
