#editModal.reveal-modal.small(data-reveal='')
  .row
    .small-12.columns
      h3 Update Workout
  .row.padded-row
    .small-12.columns
      pre {{selectedLiftDay | json}}
  a.close-reveal-modal x
