#scheduleWorkoutModal.reveal-modal.small(data-reveal='')
  .row
    .small-12.columns
      h3 Add Phase
  .row.collapse.padded-row
    .small-10.columns
      input(type='text', ng-model='newPhase', placeholder='Name')
    .small-2.columns
      a.button.success.postfix(href='', ng-click='createPhase(newPhase)') Add
  a.close-reveal-modal x
